<head>
    <meta charset="UTF-8"></meta>
    <title> <%= name %> </title>
    <style type="text/css">
        .title{width:200px ; border:1px solid blue}
        .keyword{color:red}
        .back{background-color:red}
        .box{
            position:relative ; left:500px; top:0px;
        }
        .talk{
            position:relative ; left:80px; top:0px;
        }
        .button{
            position:relative ; left:80px; top:20px;
        }
        .login{
            position:relative ; left:500px; top:200px;font-size:20px ;border-radius: 4px;
        }
        .submit{
            margin-left:10px;width:280px ; font-size:26px ; border-radius: 4px;background-color:rgba(0, 0, 255, 0.842);
            transition-duration: 0.4s;
        }
        .submit:hover{
            background-color:white;
        }
    </style>
</head>