<!DOCTYPE html>
<html>
<%- include('partial/head.ejs') %>
<body background="11.jfif">
    <div class='login' ; style='width:300px ; height:400px'>
        <form action="/new-password" method="post">
            <p style="margin-left:100px">Previous Password:</p>
            <input style="margin-left:25px ; width:250px" type='text' name='previouspassword'>
            <p style="margin-left:100px">Password:</p>
            <input style="margin-left:25px ; width:250px" type='text' name='password'>
            <input type="hidden" name="userid" value="<%= id %>">
            <input type="hidden" name="_csrf" value="<%= csrfToken %>">
            <hr/>
            <% if(errormessage){ %>
                <p class="keyword"><%= errormessage %></p>
            <% } %>
            <button class="submit" ; type='submit'>reset</button>
        </form>
    </div>
</body>
</html>