<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">

    <title>泡麵網</title>
    <style type='text/css'>
        .card-img-top{
            width: 156px;
            height: 200px;
        }
        .bg-primary .navbar-nav .nav-link{
          color:white
        }
        .a{
          color:black;
          text-decoration:none;
        }
        .pic{
          overflow: hidden;
        }
        .pic img:hover{
          transform:scale(1.05,1.05);
          transition: all 0.3s ease-out;
        }
    </style>
  </head>
  
<body>
    <nav class="navbar navbar-expand-lg sticky-top bg-primary">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="container-fluid">
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle fw-bold" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    統一
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <li><a class="dropdown-item" href="/mh">滿漢大餐</a></li>
                  <li><a class="dropdown-item" href="/lik">來一客</a></li>
                  <li><hr class="dropdown-divider"></li>
                  <li><a class="dropdown-item" href="/YQ">阿Q桶麵</a></li>
                  <li><a class="dropdown-item" href="/ti">統一麵</a></li>
                </ul>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle fw-bold" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    來一客
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <li><a class="dropdown-item" href="#">鮮蝦魚板風味</a></li>
                  <li><a class="dropdown-item" href="#">韓式泡菜風味</a></li>
                  <li><hr class="dropdown-divider"></li>
                  <li><a class="dropdown-item" href="#">京燉肉骨風味</a></li>
                  <li><a class="dropdown-item" href="#">肉燥菠菜風味</a></li>
                  <li><a class="dropdown-item" href="#">牛肉蔬菜風味</a></li>
                  <li><a class="dropdown-item" href="#">川辣牛肉風味</a></li>
                </ul>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle fw-bold" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    大乾麵
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <li><a class="dropdown-item" href="#">紅油擔擔麵</a></li>
                  <li><a class="dropdown-item" href="#">地獄辣椒麵</a></li>
                  <li><hr class="dropdown-divider"></li>
                  <li><a class="dropdown-item" href="#">大乾麵花椒麻醬風味麵</a></li>
                  <li><a class="dropdown-item" href="#">蔥燒牛肉風味麵</a></li>
                </ul>
              </li>
            </ul>
            <form class="d-flex">
              <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
              <button class="btn btn-outline-success" type="submit">Search</button>
            </form>
          </div>
        </div>
    </nav>
    <div class='container mb-5'>
        <div class='row'>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/">首頁</a></li>
                <li class="breadcrumb-item"><a href="/first-ti">統一</a></li>
                <li class="breadcrumb-item active" aria-current="page">統一麵</li>
            </ol>
        </div>
    </div>
    <div class='container'>
      <div class='row'>
        <div class='col-12 col-md-3'>
          <button class="btn  d-inline-flex rounded" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample1" aria-expanded="false" aria-controls="collapseExample1">
            品牌列表
          </button>
          <div class="collapse" id="collapseExample1">
            <div>
              <button class="btn  d-inline-flex rounded" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample2" aria-expanded="false" aria-controls="collapseExample2">
              統一
              </button>
              <ul>
                <div class="collapse" id="collapseExample2">
                  <div><a class='a' href="/mh">滿漢大餐</a></div>
                  <div><a class='a' href="/lik">來一客</a></div>
                  <div><a class='a' href="/YQ">阿Q桶麵</a></div>
                  <div><a class='a' href="/ti">統一麵</a></div>
                </div>
              </ul>
            </div>
            <div>
              <button class="btn  d-inline-flex rounded" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample3" aria-expanded="false" aria-controls="collapseExample3">
              維力
              </button>
              <ul>
                <div class="collapse" id="collapseExample3">
                  <div><a class='a' href="/mh">一度贊</a></div>
                  <div><a class='a' href="/mh">大乾麵</a></div>
                  <div><a class='a' href="/mh">手打麵</a></div>
                </div>
              </ul>
            </div>
            <div>
              <button class="btn  d-inline-flex rounded" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample4" aria-expanded="false" aria-controls="collapseExample4">
              味丹
              </button>
              <ul>
                <div class="collapse" id="collapseExample4">
                  <div><a class='a' href="/mh">味味A排骨雞麵</a></div>
                  <div><a class='a' href="/mh">雙響泡</a></div>
                  <div><a class='a' href="/mh">味味一品</a></div>
                </div>
              </ul>
            </div>
          </div>
        </div>
        <div class='col-12 col-md-9'>
          <div class='row row-cols-1 row-cols-md-3 row-cols-lg-4'>
            <div class='col  mb-5'>
              <div class='card text-center h-100 '>
                <div class='pic'>
                  <img src="../ti1.jfif" class="card-img-top w-100">
                </div>
                <div class="card-body">
                  <h5 class="card-title">鮮蝦風味[袋]</h5>
                  <h4 style='color:red'>價格:85元</h4>
                  <p class="card-text">清爽甘甜的湯頭，讓偶爾吃膩重口味的大魚大肉您，來碗「統一麵鮮蝦風味麵」讓味蕾放鬆一下。 </p>
                </div>
                <div class="card-footer">
                  <a href="#" class="btn btn-primary">購買</a>
                </div>
              </div>
            </div>
            <div class='col mb-5'>
              <div class="card text-center h-100 ">
                <div class='pic'>
                  <img src="../ti2.jfif" class="card-img-top w-100">
                </div>
                <div class="card-body">
                  <h5 class="card-title">肉骨茶風味[袋] </h5>
                  <h4 style='color:red'>價格:85元</h4>
                  <p class="card-text">香氣四溢的湯頭帶點微辣的滋味，讓人能輕鬆體驗到道地的南洋肉骨風味。</p>
                </div>
                <div class="card-footer">
                  <a href="#" class="btn btn-primary">購買</a>
                </div>
              </div>
            </div>
            <div class='col mb-5'>
              <div class="card text-center h-100 ">
                <div class='pic'>
                  <img src="../ti3.jfif" class="card-img-top w-100">
                </div>
                <div class="card-body">
                  <h5 class="card-title">蔥燒牛肉風味[袋]</h5>
                  <h4 style='color:red'>價格:85元</h4>
                  <p class="card-text">勁爆香辣的湯頭，在熬夜讀書、加班的時候，暢快地吃碗「統一麵蔥燒牛肉風味麵」，馬上提振委靡的精神。</p>
                </div>
                <div class="card-footer">
                  <a href="#" class="btn btn-primary">購買</a>
                </div>
              </div>
            </div>
            <div class='col mb-5'>
              <div class="card text-center h-100 ">
                <div class='pic'>
                  <img src="../ti4.jfif" class="card-img-top w-100">
                </div>
                <div class="card-body">
                  <h5 class="card-title">肉燥風味大號[袋]</h5>
                  <h4 style='color:red'>價格:85元</h4>
                  <p class="card-text">傳統熟悉的肉燥香味，在颱風夜裡、異鄉求學時，一碗親切的「統一麵肉燥風味麵」帶來家鄉般的溫暖。 </p>
                </div>
                <div class="card-footer">
                  <a href="#" class="btn btn-primary">購買</a>
                </div>
              </div>
            </div>
            <div class='col mb-5'>
              <div class="card text-center h-100 ">
                <div class='pic'>
                  <img src="../ti5.jfif" class="card-img-top w-100">
                </div>
                <div class="card-body">
                  <h5 class="card-title">鮮蝦風味[碗]</h5>
                  <h4 style='color:red'>價格:22元</h4>
                  <p class="card-text"> 清爽甘甜的湯頭，讓偶爾吃膩重口味的大魚大肉您，來碗「統一麵鮮蝦風味麵」讓味蕾放鬆一下。</p>
                </div>
                <div class="card-footer">
                  <a href="#" class="btn btn-primary">購買</a>
                </div>
              </div>
            </div>
            <div class='col mb-5'>
                <div class="card text-center h-100 ">
                  <div class='pic'>
                    <img src="../ti6.png" class="card-img-top w-100">
                  </div>
                  <div class="card-body">
                    <h5 class="card-title">肉骨茶風味[碗] </h5>
                    <h4 style='color:red'>價格:22元</h4>
                    <p class="card-text">香氣四溢的湯頭帶點微辣的滋味，讓人能輕鬆體驗到道地的南洋肉骨風味。</p>
                  </div>
                  <div class="card-footer">
                    <a href="#" class="btn btn-primary">購買</a>
                  </div>
                </div>
              </div>
              <div class='col mb-5'>
                <div class="card text-center h-100 ">
                  <div class='pic'>
                    <img src="../ti7.jfif" class="card-img-top w-100">
                  </div>
                  <div class="card-body">
                    <h5 class="card-title">蔥燒牛肉風味[碗]</h5>
                    <h4 style='color:red'>價格:22元</h4>
                    <p class="card-text">勁爆香辣的湯頭，在熬夜讀書、加班的時候，暢快地吃碗「統一麵蔥燒牛肉風味麵」，馬上提振委靡的精神。</p>
                  </div>
                  <div class="card-footer">
                    <a href="#" class="btn btn-primary">購買</a>
                  </div>
                </div>
              </div>
              <div class='col mb-5'>
                <div class="card text-center h-100 ">
                  <div class='pic'>
                    <img src="../ti8.jfif" class="card-img-top w-100">
                  </div>
                  <div class="card-body">
                    <h5 class="card-title">肉燥風味大號[碗]</h5>
                    <h4 style='color:red'>價格:22元</h4>
                    <p class="card-text">傳統熟悉的肉燥香味，在颱風夜裡、異鄉求學時，一碗親切的「統一麵肉燥風味麵」帶來家鄉般的溫暖。 </p>
                  </div>
                  <div class="card-footer">
                    <a href="#" class="btn btn-primary">購買</a>
                  </div>
                </div>
              </div>
          </div>
        </div>      
      </div>
    </div>
    <!-- Optional JavaScript; choose one of the two! -->

    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ" crossorigin="anonymous"></script>

    <!-- Option 2: Separate Popper and Bootstrap JS -->
    <!--
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js" integrity="sha384-W8fXfP3gkOKtndU4JGtKDvXbO53Wy8SZCQHczT5FMiiqmQfUpWbYdTil/SxwZgAN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.min.js" integrity="sha384-skAcpIdS7UcVUC05LJ9Dxay8AXcDYfBJqt1CJ85S/CFujBsIzCIv+l9liuYLaMQ/" crossorigin="anonymous"></script>
    -->
    
  </body>
</html>